Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: compose-pyproject, pytest, pytest-slow, pyright

compose-pyproject:
  name: compose-pyproject
  language: system
  entry: pwsh -Command python .tools/scripts/compose_pyproject.py
  pass_filenames: false

pytest:
  name: pytest
  language: system
  entry: pwsh -Command pytest --run_skips false
  pass_filenames: false
  verbose: true

pytest-slow:
  name: pytest-slow
  language: system
  entry: pwsh -Command pytest
  pass_filenames: false
  verbose: true

pyright:
  name: pyright
  language: system
  entry: pwsh .tools/scripts/Invoke-Pyright.ps1
  pass_filenames: false

Implement more bubble history correlations
  .pre-commit-config.yaml
  .tools/pyproject.toml
  docs/conf.py
  docs/correlations.ipynb
  docs/index.md
  docs/patch.py
  docs/test.ipynb
  plotting/base.mplstyle
  pyproject.toml
  src/boilercv/__init__.py
  src/boilercv/correlations.py
  src/boilercv/models/paths.py
  tests/test_boilercv.py
Due: compose-pyproject, pytest, pytest-slow, pyright

See if rmtree is the problem on CI
  docs/patch.py
Due: none

Try this
  docs/patch.py
Due: none

Try simplest approach
  docs/correlations.ipynb
Due: none

Go back to pre-computing documentation
  .pre-commit-config.yaml
  docs/conf.py
  docs/correlations.ipynb
  docs/patch.py
Due: none

Prepare to process contours
  docs/correlations.ipynb
Due: none

Add extra requirements. Begin isolating contours
  docs/correlations.ipynb
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Update documentation
  docs/correlations.ipynb
Due: none

Implement proof of concept bubble tracking
  .tools/pyproject.toml
  docs/correlations.ipynb
  pyproject.toml
  src/boilercv/examples/tracks.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Bump template
  .copier-answers.yml
  .pre-commit-config.yaml
  .tools/scripts/Copy-Template.ps1
  .vscode/tasks.json
Due: none

Bump template
  .copier-answers.yml
  .tools/scripts/Copy-Template.ps1
Due: none

Bump template
  .copier-answers.yml
  .tools/pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Update from template
  .copier-answers.yml
  .env
  .vscode/tasks.json
  pytest.ini
Due: none

Delete frozen requirements now that dependency graph is up to date
  frozen_requirements.txt
Due: none

Keep numpy at 1.24.4 to avoid dependency conflict between imagio[pyav] and xarray
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Track numpy and pyside separately for now
  pyproject.toml
  renovate.json
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Properly exclude those deps
  renovate.json
Due: none

Remove pyside from renovate exclusions
  renovate.json
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Bump project template and compose `pyproject.toml`.
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Don't migrate to DVC 3. Currently too much work
  dvc.lock
  pyproject.toml
  renovate.json
  requirements.txt
  src/boilercv/captivate/previews.py
  src/boilercv/examples/save_roi.py
  src/boilercv/stages/compare_theory.py
  src/boilercv/stages/find_tracks.py
  src/boilercv/stages/find_unobstructed.py
  tests/test_stages.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Ignore other files in DVC cache computation
  .dvcignore
  .vscode/settings.json
Due: none

Implement example documentation
  .pre-commit-config.yaml
  .tools/requirements/requirements_docs.txt
  .vscode/tasks.json
  docs/_static/favicon.ico
  docs/conf.py
  docs/examples/common.py
  docs/examples/correlations.ipynb
  docs/examples/index.md
  docs/examples/tracks.ipynb
  docs/index.md
  docs/patch.py
  plotting/example.ipynb
  src/boilercv/docs.py
  src/boilercv/examples/tracks.py
Due: pytest, pytest-slow, pyright

Exclude local pre-commit hook from running in CI
  .pre-commit-config.yaml
Due: none

Implement initial/partial bubble track example.
  .env
  docs/examples/common.py
  docs/examples/correlations.ipynb
  docs/examples/tracks.ipynb
  plotting/base.mplstyle
  pyproject.toml
  pytest.ini
  requirements.txt
  src/boilercv/docs.py
  src/boilercv/examples/large/combined.py
  src/boilercv/format.py
  src/boilercv/images/cv.py
  src/boilercv/manual/binarize.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Disable slower local pre-commit hooks. Rely on CI to handle full validation.
  .pre-commit-config.yaml
Due: none

Migrate to DVC 3
  .pre-commit-config.yaml
  data/examples.dvc
  data/rois.dvc
  data/samples.dvc
  data/sources.dvc
  dvc.lock
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Remove intermediate stages
  _dvc.yaml
  dvc.lock
  dvc.yaml
Due: none

Re-compute intermediate stages
  _dvc.yaml
  dvc.lock
  dvc.yaml
Due: none

Ungroup DVC dependencies and return them to the default groupings
  pyproject.toml
  renovate.json
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Remove qualitative legend
  docs/examples/tracks.ipynb
Due: none

Migrate some notebooks to DVC. Build with `mystmd`.
  .dvcignore
  .gitignore
  .pre-commit-config.yaml
  .vscode/tasks.json
  data/.dvcignore
  data/.gitignore
  data/docs.dvc
  docs/conf.py
  docs/examples/correlations.ipynb
  docs/examples/index.md
  docs/examples/tracks.ipynb
  docs/index.md
  docs/params.yaml
  docs/params_schema.json
  docs/refs.bib
  dvc.lock
  dvc.yaml
  myst.yml
  params.yaml
  params_schema.json
  src/boilercv/models/paths.py
Due: pytest, pyright

Sanitize notebooks in dvc pre-repro. Pre-commit won't touch gitignored files
  .pre-commit-config.yaml
  .tools/scripts/Repair-Notebooks.ps1
  .vscode/tasks.json
  data/docs.dvc
  dvc.lock
  dvc.yaml
Due: none

Move example to DVC folder
  data/docs.dvc
  dvc.lock
  plotting/example.ipynb
Due: none

Use pandoc instead of mystmd for document generation
  .env
  .tools/scripts/ConvertTo-Docx.ps1
  .tools/scripts/international-journal-of-heat-and-mass-transfer.csl
  .tools/scripts/zotero.lua
  .vscode/tasks.json
  data/docs.dvc
  dvc.lock
  dvc.yaml
  myst.yml
  params.yaml
  params_schema.json
  src/boilercv/models/paths.py
Due: pytest, pyright

Normalize spacing
  dvc.yaml
Due: none

Don't patch working directory for DVC-tracked docs
  .vscode/tasks.json
  data/docs.dvc
  src/boilercv/docs.py
Due: pytest, pyright

Path conditions:
  compose-pyproject: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/pyproject.toml
)$

  pytest: any of: (?x)^(
  src/.*
  |tests/.*
)$

  pytest-slow: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pyright: any of: (?x)^(
  src/.*
  |tests/.*
  |pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

