Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*


Update project from template
  .copier-answers.yml
  .nest_md
  .nest_tools_config
  .root
  .vscode/settings.json
  pyproject.toml
  pytest.ini
Due: none

Implement collapse logic as a stage to be parametrized
  params.yaml
  pyproject.toml
  src/boilercv/manual/convert.py
  src/boilercv/stages/find_collapse.ipynb
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_boilercv.py
Due: pre-repro, pytest-fast-only

Simplify fawltydeps
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_dev.txt
  pyproject.toml
Due: pytest-fast-only

Bump project from template
  .copier-answers.yml
  .tools/scripts/Invoke-Pyright.ps1
  .vscode/settings.json
Due: none

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Bump project from template
  .copier-answers.yml
  .env
  .tools/scripts/pythonstartup.py
Due: none

Fix tests
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Update project from template
  .gitmodules
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .vscode/settings.json
Due: pytest-fast-only

Update project from template
  .copier-answers.yml
  .github/workflows/codeql.yml
  .gitignore
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .vscode/settings.json
  renovate.json
  setup.ps1
  update.ps1
Due: pytest-fast-only

Fix conflicting requirement
  .tools/requirements/requirements.txt
Due: pytest-fast-only

Migrate from black and nbqa to ruff and ruff format
  .pre-commit-config.yaml
  .tools/requirements/requirements_dev.txt
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
Due: pytest-fast-only

Format files
  .tools/scripts/local_pyrightconfig.py
  .tools/scripts/pythonstartup.py
  src/boilercv/captivate/previews.py
  src/boilercv/data/__init__.py
  src/boilercv/data/video.py
  src/boilercv/docs.py
  src/boilercv/examples/blobs/__init__.py
  src/boilercv/examples/blobs/bubbles.py
  src/boilercv/examples/cv/__init__.py
  src/boilercv/old/_contours.py
  src/boilercv/old/_detect_surface.py
  src/boilercv/pre_repro.py
  src/boilercv/stages/preview/__init__.py
Due: none

Re-enable format on save
  .vscode/settings.json
Due: none

Format on save
  .vscode/extensions.json
Due: none

Bump ruff
  .tools/requirements/requirements_both.txt
Due: pytest-fast-only

Update command line argument
  .github/workflows/main.yml
Due: none

Implement notebook-related fixes and fix Renovate config.
  .gitignore
  .sourcery.yaml
  renovate.json
Due: none

Prepare to unconstrain numpy
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  pyproject.toml
Due: pytest-fast-only

Bump
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Remove special case
  renovate.json
Due: none

Implement notebook parametrization
  .sourcery.yaml
  params.yaml
  src/boilercv/docs.py
  src/boilercv/stages/find_collapse.ipynb
  src/boilercv/stages/find_collapse.py
  update.ps1
Due: pre-repro

Configure isort as fallback
  pyproject.toml
  src/boilercv/stages/find_collapse.ipynb
Due: none

Bump boilercore
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

xfail find_collapse stage
  tests/boilercv_tests/__init__.py
Due: pytest-fast-only

Fix pre-commit issue
  src/boilercv/stages/find_collapse.ipynb
Due: none

Update project.
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Sort imports with isort in notebooks, and ruff outside of them.
  .vscode/settings.json
Due: none

Remove black from recommendations
  .vscode/extensions.json
Due: none

Simplify debugging
  .vscode/launch.json
Due: none

Find collapsing bubbles across datasets concurrently
  src/boilercv/stages/find_collapse.ipynb
  src/boilercv/stages/find_collapse.py
Due: none

Refactor pre_repro in terms of common utilities
  src/boilercv/pre_repro.py
  src/boilercv/stages/find_collapse.py
Due: none
