Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: compose-pyproject, pytest, pytest-slow, pyright

.pre-commit-config.yaml:

ci:
  skip:
    - "compose-pyproject"
    - "pytest"
    - "pytest-slow"
    - "pyright"
    - "dvc-post-checkout"
    - "dvc-pre-push"
  autoupdate_schedule: "quarterly"

repos:
  # * ------------------------------------------------------------------------------ * #
  # * Changes below should persist in significant template updates.

  - repo: "https://github.com/iterative/dvc"
    rev: "2.57.1"
    hooks:
      - id: "dvc-post-checkout"
      - id: "dvc-pre-push"
        additional_dependencies: ["dvc[gs]"]

  # * ------------------------------------------------------------------------------ * #
  # * Changes below may be lost in significant template updates.

  - repo: "meta"
    hooks:
      - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      - id: "compose-pyproject"
        name: "compose-pyproject"
        language: "system"
        entry: "pwsh -Command python .tools/scripts/compose_pyproject.py"
        files: |
          (?x)^(
            pyproject.toml
            |requirements.txt
            |.tools/pyproject.toml
          )$
        pass_filenames: false
      - id: "pytest"
        name: "pytest"
        language: "system"
        entry: "pwsh -Command pytest --run_skips false"
        pass_filenames: false
        verbose: true
        files: |
          (?x)^(
            src/.*
            |tests/.*
          )$
      - id: "pytest-slow"
        name: "pytest-slow"
        language: "system"
        entry: "pwsh -Command pytest"
        pass_filenames: false
        verbose: true
        files: |
          (?x)^(
            pyproject.toml
            |requirements.txt
            |.tools/(
              pyproject.toml
              |requirements/.*
            )
          )$
      - id: "pyright"
        name: "pyright"
        language: "system"
        entry: "pwsh .tools/scripts/Invoke-Pyright.ps1"
        pass_filenames: false
        files: |
          (?x)^(
            src/.*
            |tests/.*
            |pyproject.toml
            |requirements.txt
            |.tools/(
              pyproject.toml
              |requirements/.*
            )
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.4.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.7.1"
    hooks:
      - id: "markdownlint-cli2-fix"
  - repo: "https://github.com/psf/black"
    rev: "23.3.0"
    hooks:
      - id: "black"
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.0.263"
    hooks:
      - id: "ruff"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "2.4.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-cell-metadata"
          - "tags"
          - "slideshow"
          - "special"
          - "--"
  - repo: "https://github.com/asottile/blacken-docs"
    rev: "1.13.0"
    hooks:
      - id: "blacken-docs"
        additional_dependencies: ["black==23.3.0"]
  - repo: "https://github.com/nbQA-dev/nbQA"
    rev: "1.7.0"
    hooks:
      - id: "nbqa-black"
        additional_dependencies: ["black==23.3.0"]
      - id: "nbqa-ruff"
        additional_dependencies: ["ruff==0.0.263"]

Limit permissions
  .github/workflows/main.yml
Due: none

Roll back pyright due to microsoft/pylance-release#4392
  .tools/requirements/requirements_both.txt
  src/boilercv/captivate/previews.py
Due: pytest, pytest-slow, pyright

Remove unnecessary import
  dvc.lock
  src/boilercv/models/paths.py
Due: pytest, pyright

Refactor out model functionality pertaining to model synchronization
  .github/workflows/main.yml
  .pre-commit-config.yaml
  .tools/pyproject.toml
  .tools/requirements/requirements_both.txt
  .vscode/settings.json
  dvc.yaml
  params.yaml
  params_schema.json
  pyproject.toml
  pytest.ini
  src/boilercv/models/__init__.py
  src/boilercv/models/params.py
  src/boilercv/models/paths.py
  src/boilercv/stages/schema.py
  tests/conftest.py
  tests/test_boilercv.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Refactor paths
  docs/dag.md
  dvc.yaml
  params.yaml
  params_schema.json
  src/boilercv/__init__.py
  src/boilercv/models/__init__.py
  src/boilercv/models/params.py
  src/boilercv/models/paths.py
Due: pytest, pyright

Fix pre-commit config in CI
  .pre-commit-config.yaml
Due: none

Simplify test
  .vscode/settings.json
  tests/data/cloud/schema/params_schema.json
  tests/data/generate.py
  tests/test_boilercv.py
Due: pytest, pyright

Remove explicit decompression, as it is now implicit.
  src/boilercv/manual/decompress.py
Due: pytest, pyright

Remove unused pytest plugin
  .tools/requirements/requirements_both.txt
  tests/conftest.py
  tests/test_boilercv.py
Due: pytest, pytest-slow, pyright

Separate concerns of bare YAML models and those with synchronized paths.
  params_schema.json
  src/boilercv/models/__init__.py
Due: pytest, pyright

Parametrize tests
  .github/workflows/main.yml
  .vscode/settings.json
  pytest.ini
  tests/conftest.py
  tests/test_boilercv.py
Due: pytest, pyright

Try deleting too see if dependency graph changes to properly reflect actual first-party deps
  repro.txt
Due: none

Propagate changes from boilerdata
  .copier-answers.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/sphinx.yml
  .gitignore
  .pre-commit-config.yaml
  .sourcery.yaml
  .tools/pyproject.toml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/Update-Template.ps1
  .tools/scripts/compose_pyproject.py
  .vscode/settings.json
  .vscode/tasks.json
  pyproject.toml
  pyrightconfig.json
  pytest.ini
  pythonrc.py
  update.ps1
Due: compose-pyproject, pytest-slow, pyright

Generalize tests
  .pre-commit-config.yaml
  tests/__init__.py
  tests/conftest.py
  tests/test_boilercv.py
Due: pytest, pyright

Include `ipywidgets` in requirements
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Add tests
  tests/test_boilercv.py
Due: pytest, pyright

Update submodules on checkout
  .pre-commit-config.yaml
  update.ps1
Due: none

Don't do that
  .pre-commit-config.yaml
Due: none

Re-enable use of library code for types now that opencv/opencv#14590 is resolved
  .tools/scripts/compose_pyproject.py
  pyproject.toml
  pyrightconfig.json
Due: compose-pyproject, pytest-slow, pyright

Update documentation
  README.md
  docs/index.md
Due: none

Update usage instructions
  README.md
  docs/index.md
  src/boilercv/examples/blobs/galaxy.py
Due: pytest, pyright

Fix improperly-escaped carats
  README.md
  docs/index.md
Due: none

Template the bubble lifetime data process
  .sourcery.yaml
  .vscode/tasks.json
  README.md
  docs/dag.md
  dvc.lock
  dvc.yaml
  params.yaml
  params_schema.json
  src/boilercv/models/paths.py
  src/boilercv/stages/correlations.py
  src/boilercv/stages/lifetimes.py
  src/boilercv/stages/tracks.py
  src/boilercv/stages/unobstructed.py
  tests/test_boilercv.py
Due: pytest, pyright

Change incomplete node highlight
  README.md
  docs/dag.md
  docs/index.md
Due: none

Fix author field
  .tools/pyproject.toml
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Bump template
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/template_common.ps1
  .vscode/tasks.json
  renovate.json
  tests/test_boilercv.py
Due: pytest, pytest-slow, pyright

Bump template
  .copier-answers.yml
Due: none

Bump template. Constrain Pyright again
  .copier-answers.yml
  .tools/pyproject.toml
  .tools/requirements/requirements_both.txt
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Choose better colors for in-progress blocks
  README.md
  docs/dag.md
Due: none

Rename stages as verbs
  docs/_static/dag-23-06-13.md
  docs/_static/dag.md
  docs/conf.py
  docs/dag.md
  docs/development.md
  docs/index.md
  dvc.lock
  dvc.yaml
  params.yaml
  params_schema.json
  src/boilercv/correlations.py
  src/boilercv/examples/contours.py
  src/boilercv/models/paths.py
  src/boilercv/stages/compare_theory.py
  src/boilercv/stages/find_contours.py
  src/boilercv/stages/find_tracks.py
  src/boilercv/stages/find_unobstructed.py
  src/boilercv/stages/preview/__init__.py
  src/boilercv/stages/preview/preview_binarized.py
  src/boilercv/stages/preview/preview_filled.py
  src/boilercv/stages/preview/preview_gray.py
  tests/data/generate.py
  tests/test_boilercv.py
Due: pytest, pyright

Begin implementing bubble lifetimes
  .tools/requirements/requirements_docs.txt
  docs/conf.py
  docs/correlations.md
  docs/index.md
  docs/refs.bib
  src/boilercv/correlations.py
Due: pytest, pytest-slow, pyright

Worakround for bibliography layout issue executablebooks/jupyter-book#1997
  docs/correlations.md
Due: none

Implement `florschuetz_and_chao_1965` correlation
  .env
  .gitignore
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_docs.txt
  .vscode/settings.json
  .vscode/tasks.json
  docs/conf.py
  docs/correlations.ipynb
  docs/correlations.md
  docs/params.yaml
  docs/params_schema.json
  frozen_requirements.txt
  plotting/base.mplstyle
  plotting/hide_title.mplstyle
  pyrightconfig.json
  pytest.ini
  src/boilercv/correlations.py
  src/boilercv/format.py
  src/boilercv/models/paths.py
  src/boilercv/types.py
  tests/test_boilercv.py
  tests/test_stages.py
Due: pytest, pytest-slow, pyright

Run docs notebooks locally
  .gitignore
  .pre-commit-config.yaml
  .tools/requirements/requirements_docs.txt
  docs/conf.py
  docs/correlations.ipynb
  docs/index.md
  docs/test.ipynb
Due: pytest-slow, pyright
