Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: compose-pyproject, pytest, pytest-slow, pyright

compose-pyproject:
  name: compose-pyproject
  language: system
  entry: pwsh -Command python .tools/scripts/compose_pyproject.py
  pass_filenames: false

pytest:
  name: pytest
  language: system
  entry: pwsh -Command pytest --run_skips false
  pass_filenames: false
  verbose: true

pytest-slow:
  name: pytest-slow
  language: system
  entry: pwsh -Command pytest
  pass_filenames: false
  verbose: true

pyright:
  name: pyright
  language: system
  entry: pwsh .tools/scripts/Invoke-Pyright.ps1
  pass_filenames: false

Only handle notebooks
  dvc.lock
  dvc.yaml
Due: none

Change logging messages. Be explicit in DVC stage commands
  dvc.lock
  dvc.yaml
  src/boilercv/examples/fill.py
  src/boilercv/stages/fill.py
  src/boilercv/stages/find_contours.py
  src/boilercv/stages/preview/preview_binarized.py
  src/boilercv/stages/preview/preview_filled.py
  src/boilercv/stages/preview/preview_gray.py
Due: pytest, pyright

Track a bubble with simple location
  data/docs.dvc
  dvc.lock
  pyrightconfig.json
  src/boilercv/data/__init__.py
  src/boilercv/examples/contours.py
Due: pytest, pyright

Ignore params_schema.json due to system-dependent paths
  .gitignore
  params_schema.json
Due: none

Plot bubble statistics
  data/docs.dvc
  dvc.lock
  plotting/base.mplstyle
Due: none

Freeze docs generation stage for now. Generate a proposed plot
  data/docs.dvc
  dvc.yaml
Due: none

Begin proof of concept. Update document generation pipeline
  .tools/scripts/ConvertTo-Docx.ps1
  data/docs.dvc
  dvc.lock
  dvc.yaml
  src/boilercv/docs.py
Due: pytest, pyright

Build documentation as HTML as well as DOCX
  .tools/scripts/Build-Docs.ps1
  data/docs.dvc
  dvc.lock
  dvc.yaml
  params.yaml
  src/boilercv/correlations.py
  src/boilercv/models/paths.py
Due: pytest, pyright

Implement multi-bubble tracking with longer memory
  .tools/scripts/Build-Docs.ps1
  .vscode/tasks.json
  data/docs.dvc
  dvc.lock
  dvc.yaml
  params.yaml
  src/boilercv/correlations.py
  src/boilercv/docs.py
  src/boilercv/models/paths.py
  tests/test_boilercv.py
Due: pytest, pyright

Update DVC lock
  data/docs.dvc
  dvc.lock
Due: none

Shorten prefix
  data/docs.dvc
  dvc.lock
Due: none

Style dataframes consistently.
  data/docs.dvc
  dvc.lock
  src/boilercv/docs.py
  src/boilercv/format.py
  src/boilercv/types.py
Due: pytest, pyright

Update dataframe appearance
  data/docs.dvc
  dvc.lock
Due: none

Update expected correlation result
  .pre-commit-config.yaml
  tests/test_boilercv.py
Due: pytest, pyright

Detect bubbles in the full frame, and in the full video
  data/docs.dvc
  dvc.lock
Due: none

Run Pylance on open files only. Large workspace running quite slow
  .vscode/settings.json
  src/boilercv/data/__init__.py
  src/boilercv/data/frames.py
Due: pytest, pyright

Attempt to fix debugging
  .vscode/launch.json
  data/docs.dvc
  dvc.lock
Due: none

Specify appropriate underlying Jupyter dependency for notebook debugging
  .tools/requirements/requirements_dev.txt
Due: pytest-slow, pyright

Add DVC to requirements again
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Require sparklines
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Touch notebooks
  data/docs.dvc
Due: none

Support asynchronous granular pipeline runs
  .tools/scripts/Build-Docs.ps1
  data/docs.dvc
  dvc.lock
  dvc.yaml
  params.yaml
  pyproject.toml
  requirements.txt
  src/boilercv/asyncio.py
  src/boilercv/models/paths.py
  src/boilercv/stages/build_docs.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Expect `build_docs` to fail tests for now. Generalize DVC pre-repro.
  .tools/scripts/Build-Docs.ps1
  .vscode/tasks.json
  data/docs.dvc
  dvc.lock
  dvc.yaml
  params.yaml
  src/boilercv/asyncio.py
  src/boilercv/dvc/__init__.py
  src/boilercv/dvc/pre_repro.py
  src/boilercv/models/paths.py
  src/boilercv/stages/build_docs.py
  tests/conftest.py
  tests/test_stages.py
Due: pytest, pyright

Prescribe requirements for both hooks
  .pre-commit-config.yaml
Due: none

Account for added as well as modified files
  src/boilercv/dvc/__init__.py
Due: pytest, pyright

Convert pre-repro scripts to async Python
  .gitattributes
  .pre-commit-config.yaml
  .tools/pyproject.toml
  .tools/scripts/Build-Docs.ps1
  .tools/scripts/Repair-Notebooks.ps1
  .tools/scripts/template_common.ps1
  .vscode/tasks.json
  dvc.yaml
  params.yaml
  pyproject.toml
  scripts/international-journal-of-heat-and-mass-transfer.csl
  scripts/template.dotx
  scripts/zotero.lua
  src/boilercv/asyncio.py
  src/boilercv/dvc/__init__.py
  src/boilercv/dvc/pre_repro.py
  src/boilercv/models/paths.py
  src/boilercv/pre_repro.py
  src/boilercv/stages/build_docs.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Try serial implementation
  src/boilercv/serial.py
Due: pytest, pyright

Fix up
  .tools/pyproject.toml
  pyproject.toml
  src/boilercv/pre_repro.py
  src/boilercv/serial.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Use async for IO-bound tasks. Use a process pool for notebook execution.
  .tools/pyproject.toml
  .vscode/settings.json
  data/docs.dvc
  pyproject.toml
  src/boilercv/pre_repro.py
  src/boilercv/serial.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Preserve some other notebook metadata. Re-run all docs
  .pre-commit-config.yaml
  .vscode/tasks.json
  data/docs.dvc
  pyproject.toml
  requirements.txt
  src/boilercv/pre_repro.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Get particle lifetime by counting, and histograms of other statistics.
  data/docs.dvc
Due: none

Update pyright and type stubs
  .tools/requirements/requirements_both.txt
  src/boilercv/data/__init__.py
  src/boilercv/examples/large/compare.py
  src/boilercv/pre_repro.py
Due: pytest, pytest-slow, pyright

Maintain a single source of truth for warnings
  .env
  .pre-commit-config.yaml
  .tools/pyproject.toml
  data/docs.dvc
  pyproject.toml
  pytest.ini
  pythonrc.py
  tests/test_stages.py
  warning_filters.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Handle warnings and logging
  .env
  .tools/scripts/pythonstartup.py
  .tools/scripts/warning_filters.py
  data/docs.dvc
  src/boilercv/docs.py
  src/boilercv/pre_repro.py
Due: pytest, pyright

Clean up implementation
  data/docs.dvc
  src/boilercv/pre_repro.py
Due: pytest, pyright

Confine constants to main
  src/boilercv/pre_repro.py
Due: pytest, pyright

Improve logging. Clean up ploomber execution metadata
  .pre-commit-config.yaml
  .vscode/tasks.json
  data/docs.dvc
  src/boilercv/pre_repro.py
Due: pytest, pyright

Update logging config
  src/boilercv/pre_repro.py
Due: pytest, pyright

Update pre_repro.py
  src/boilercv/pre_repro.py
Due: pytest, pyright

Path conditions:
  compose-pyproject: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/pyproject.toml
)$

  pytest: any of: (?x)^(
  src/.*
  |tests/.*
)$

  pytest-slow: any of: (?x)^(
  pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  pyright: any of: (?x)^(
  src/.*
  |tests/.*
  |pyproject.toml
  |requirements.txt
  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

