Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

pre-repro:
  name: pre-repro
  language: system
  entry: pwsh -Command python -m boilercv.pre_repro
  pass_filenames: false
  verbose: true

update-warning-filters:
  name: update-warning-filters
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command python warning_filters.py

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Isolate pandas
  renovate.json
Due: none

Don't delete temporary test directories afterwards
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Update project from template
  .copier-answers.yml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_core.txt
  .vscode/launch.json
  .vscode/settings.json
  pytest.ini
Due: pytest-fast-only

Generate documentation from experiment notebooks.
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .vscode/tasks.json
  docs/conf.py
  docs/experiments/e230920_subcool/custom_features.ipynb
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/index.md
  docs/index.md
  dvc.lock
  dvc.yaml
  params.yaml
  pyproject.toml
  src/boilercv/models/paths.py
  src/boilercv/stages/experiments/e230920_subcool/custom_features.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/generate_experiment_docs.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pre-repro, pytest-fast-only

Migrate requirements to boilercore
  .tools/requirements/requirements.txt
  pyproject.toml
Due: pytest-fast-only

Enable colon fences, fix tests, add new dependencies
  .tools/requirements/requirements.txt
  docs/conf.py
  pyproject.toml
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Allow synchronizing docs back to experiments
  src/boilercv/docs_generation.py
  src/boilercv/manual/update_experiments_from_docs.py
  src/boilercv/stages/generate_experiment_docs.py
Due: none

Compare center-finding approaches
  .tools/requirements/requirements_docs.txt
  .vscode/settings.json
  docs/changelog.md
  docs/conf.py
  docs/development.md
  docs/experiments/e230920_subcool/custom_features.ipynb
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/index.md
  docs/index.md
  params.yaml
  src/boilercv/docs.py
  src/boilercv/manual/update_experiments_from_docs.py
  src/boilercv/stages/experiments/e230920_subcool/custom_features.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/generate_experiment_docs.py
Due: pre-repro, pytest-fast-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Fix note
  docs/experiments/e230920_subcool/find_centers.ipynb
Due: none

Source centers from contour centroids instead of Trackpy
  data/examples.dvc
  data/experiments.dvc
  data/notebooks.dvc
  docs/experiments/e230920_subcool/find_centers.ipynb
  dvc.lock
  pyproject.toml
  src/boilercv/stages/experiments/e230920_subcool/export_all_centers.py
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/generate_experiment_docs.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Fix type annotation and tests
  docs/experiments/e230920_subcool/find_centers.ipynb
  dvc.lock
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  tests/boilercv_tests/__init__.py
Due: pytest-fast-only

Update docs
  .tools/requirements/requirements_docs.txt
  docs/conf.py
Due: pytest-fast-only

Find bubbles from centers
  .tools/requirements/requirements_docs.txt
  docs/conf.py
  docs/experiments/e230920_subcool/find_bubbles.ipynb
  docs/experiments/e230920_subcool/index.md
  dvc.lock
  params.yaml
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/find_bubbles.ipynb
Due: pre-repro, pytest-fast-only

Bump pydantic and use v1 module
  .github/workflows/main.yml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  pyproject.toml
  renovate.json
  src/boilercv/models/params.py
  src/boilercv/models/paths.py
Due: pre-repro, pytest-fast-only

Bump cmasher and unpin IPython
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  pyproject.toml
Due: pytest-fast-only

Update boilercore pinned commit
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Remove boilercore
  .gitmodules
Due: none

Add boilercore
  .gitmodules
Due: none

Update boilercore
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Update project from template
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/Invoke-Pyright.ps1
  renovate.json
Due: pytest-fast-only

Format after updating ruff
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/scripts/pythonstartup.py
  src/boilercv/data/sets.py
  src/boilercv/docs.py
  src/boilercv/examples/detect_surface.py
  src/boilercv/old/_contours.py
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  src/boilercv/stages/experiments/e230920_subcool/get_thermal_data.ipynb
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Format after updating ruff
  fix_up_subcool_nbs.py
Due: none

Ignore IPython for now
  renovate.json
Due: none

Bump pyright
  .tools/requirements/requirements_both.txt
  pyproject.toml
Due: pytest-fast-only

Update project from template
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/sphinx.yml
  .gitignore
  .pre-commit-config.yaml
  .sourcery.yaml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
  .tools/scripts/first_time_setup.ps1
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  pytest.ini
Due: pytest-fast-only

Update requirements
  .copier-answers.yml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
Due: pytest-fast-only

Fix Renovate config. Don't use pytest-plt for now
  .tools/requirements/requirements_both.txt
  renovate.json
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Fix tests
  .tools/requirements/requirements_both.txt
  pyproject.toml
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Fix notebooks
  .vscode/settings.json
  docs/experiments/e230920_subcool/find_bubbles.ipynb
  docs/experiments/e230920_subcool/find_centers.ipynb
  pyproject.toml
  src/boilercv/examples/detect_surface.py
  src/boilercv/images/cv.py
  src/boilercv/stages/experiments/e230920_subcool/find_bubbles.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Update project from template
  .copier-answers.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Try being explicit about stubs
  pyproject.toml
Due: none

Update project from template
  .copier-answers.yml
Due: none

Explicitly set includes
  pyproject.toml
Due: none

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*

