Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

pre-repro:
  name: pre-repro
  language: system
  entry: pwsh -Command python -m boilercv.pre_repro
  pass_filenames: false
  verbose: true

update-warning-filters:
  name: update-warning-filters
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command python warning_filters.py

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Try this
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Move fawltydeps requirement
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
Due: pytest-fast-only

Compare approaches
  docs/experiments/e230920_subcool/find_collapse.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/index.md
  src/boilercv/docs.py
Due: none

Move experiments to docs
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_dev.txt
  .vscode/tasks.json
  data/experiments.dvc
  docs/experiments/e230920_subcool/find_bubbles.ipynb
  docs/experiments/e230920_subcool/find_contours.ipynb
  docs/experiments/e230920_subcool/find_size.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/get_thermal_data.ipynb
  docs/experiments/e230920_subcool/index.md
  docs/notebooks/clean_docs_notebook.ipynb
  dvc.lock
  dvc.yaml
  params.yaml
  pyproject.toml
  src/boilercv/docs_generation.py
  src/boilercv/manual/generate_experiment_docs.py
  src/boilercv/manual/update_experiments_from_docs.py
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/find_bubbles.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_contours.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_objects.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_tracks.ipynb
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
  tests/root/data/experiments/e230920_subcool/trackpy_objects/2023-09-20T17-14-18.h5
Due: pre-repro, pytest-fast-only

Hide cell inputs
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/find_contours.ipynb
  docs/experiments/e230920_subcool/find_size.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/get_thermal_data.ipynb
  docs/notebooks/clean_docs_notebook.ipynb
Due: none

Update requirements
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_dev.txt
  .vscode/tasks.json
  pyproject.toml
Due: pytest-fast-only

Execute docs notebooks
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/find_size.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/get_thermal_data.ipynb
Due: none

Don't cache notebook results on CI
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Add data for docs. Derive docs from test data
  .gitignore
  .pre-commit-config.yaml
  .tools/scripts/pythonstartup.py
  docs/conf.py
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/find_contours.ipynb
  docs/experiments/e230920_subcool/find_size.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/get_thermal_data.ipynb
  docs/experiments/e230920_subcool/params.yaml
  params.yaml
  src/boilercv/manual/generate_experiment_docs.py
  src/boilercv/manual/update_experiments_from_docs.py
  src/boilercv/models/paths.py
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/root/data/contours/2023-09-20T16-52-06.h5
  tests/root/data/experiments/e230920_subcool/objects/objects_2023-09-20T17-14-18.h5
Due: pre-repro, pytest-fast-only

Move docs/doctest requirements
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
Due: pytest-fast-only

Fail docs build if notebook execution fails
  docs/conf.py
Due: none

Update __init__.py
  tests/boilercv_tests/__init__.py
Due: pytest-fast-only

Create temp notebooks dir only locally
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Remove outdated example
  .vscode/tasks.json
  docs/notebooks/clean_docs_notebook.ipynb
Due: none

Remove rich from startup process
  .env
  .tools/requirements/requirements_dev.txt
  .tools/scripts/pythonstartup.py
Due: pytest-fast-only

Fix test logic
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Flatten experiments
  .pre-commit-config.yaml
  params.yaml
  src/boilercv/experiments/__init__.py
  src/boilercv/experiments/e230920_subcool/__init__.py
  src/boilercv/experiments/e230920_subcool/__main__.py
  src/boilercv/experiments/e230920_subcool/export_all_centers.py
  src/boilercv/experiments/e230920_subcool/export_all_contours.py
  src/boilercv/experiments/e230920_subcool/export_all_objects.py
  src/boilercv/experiments/e230920_subcool/export_all_tracks.py
Due: pre-repro

Update experiments references. Move IO out of thermal notebook
  .gitignore
  .vscode/tasks.json
  docs/.gitignore
  docs/conf.py
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/experiments/e230920_subcool/find_contours.ipynb
  docs/experiments/e230920_subcool/find_size.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/get_thermal_data.ipynb
  docs/experiments/e230920_subcool/params.yaml
  src/boilercv/docs/__init__.py
  src/boilercv/docs/__main__.py
  src/boilercv/docs/nbs.py
  src/boilercv/experiments/e230920_subcool/update_thermal_data.py
  tests/root/params.yaml
Due: pytest-fast-only

Guard before deleting key
  src/boilercv/docs/__init__.py
Due: none

Add missing yield
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Fix tests
  pyproject.toml
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Try this
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Hmm
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Implement track plots and document track finding
  .tools/requirements/requirements.txt
  data/experiments.dvc
  docs/conf.py
  docs/experiments/e230920_subcool/find_tracks.ipynb
  pyproject.toml
  src/boilercv/docs/nbs.py
  src/boilercv/experiments/__init__.py
  src/boilercv/experiments/e230920_subcool/__init__.py
  src/boilercv/experiments/e230920_subcool/export_all_tracks.py
  src/boilercv/experiments/e230920_subcool/export_track_plots.py
  src/boilercv/models/paths.py
Due: pre-repro, pytest-fast-only

Update nbs.py
  src/boilercv/docs/nbs.py
Due: none

Add gradient back
  docs/experiments/e230920_subcool/find_tracks.ipynb
Due: none

Update pyright and ruff configs
  .vscode/settings.json
  pyproject.toml
Due: none

Standardize notebook processing in this experiment
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  src/boilercv/correlations.py
  src/boilercv/experiments/e230920_subcool/__init__.py
  src/boilercv/experiments/e230920_subcool/export_all_centers.py
  src/boilercv/experiments/e230920_subcool/export_all_contours.py
  src/boilercv/experiments/e230920_subcool/export_all_objects.py
  src/boilercv/experiments/e230920_subcool/export_all_tracks.py
  src/boilercv/experiments/e230920_subcool/export_track_plots.py
  src/boilercv/experiments/e230920_subcool/update_thermal_data.py
  src/boilercv/types.py
Due: none

Implement full documentation
  .github/workflows/sphinx.yml
  .prettierignore
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_docs.txt
  .vscode/settings.json
  .vscode/tasks.json
  data/experiments.dvc
  docs/.gitignore
  docs/conf.py
  docs/experiments/e230920_subcool/find_objects.ipynb
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/index.md
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  docs/experiments/e240215_plotting/index.md
  docs/experiments/e240215_plotting/palettes.ipynb
  docs/fix_pyside6.py
  docs/index.md
  docs/references.md
  docs/refs.bib
  docs/temp/8wk7yr64.ipynb
  docs/temp/lve465wx.ipynb
  dvc.lock
  pyproject.toml
  src/boilercv/correlations.py
  src/boilercv/experiments/__init__.py
  src/boilercv/experiments/e230920_subcool/__init__.py
  src/boilercv/experiments/e230920_subcool/export_all_objects.py
  src/boilercv/experiments/e230920_subcool/find_contours.py
  src/boilercv/experiments/e230920_subcool/find_objects.py
  src/boilercv/experiments/e230920_subcool/find_tracks.py
  src/boilercv/experiments/e230920_subcool/plot_tracks.py
  src/boilercv/experiments/e240215_plotting/__init__.py
  tests/root/data/experiments/e230920_subcool/objects/objects_2023-09-20T17-14-18.h5
  tests/root/data/experiments/e230920_subcool/tracks/tracks_2023-09-20T17-14-18.h5
Due: pytest-fast-only

Commit new objects/tracks
  data/experiments.dvc
  dvc.lock
Due: none

Fix docs references
  docs/conf.py
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  docs/temp/8wk7yr64.ipynb
  docs/temp/lve465wx.ipynb
Due: none

Enable MathJax
  docs/conf.py
Due: none

Fix math and notebook warnings
  docs/experiments/e230920_subcool/find_tracks.ipynb
  docs/experiments/e230920_subcool/find_tracks_trackpy.ipynb
  docs/experiments/e230920_subcool/plot_tracks.ipynb
  src/boilercv/correlations.py
  src/boilercv/docs/nbs.py
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Implement some glued figures and Tippy hover tips
  .tools/requirements/requirements_docs.txt
  docs/conf.py
  docs/custom.css
  docs/experiments/e230920_subcool/find_centers.ipynb
  docs/index.md
Due: pytest-fast-only

Fix tippy config
  docs/_static/local.css
  docs/conf.py
  docs/custom.css
Due: none

Fix sphinx setup
  .vscode/launch.json
  .vscode/settings.json
  data/plotting/base.mplstyle
  docs/conf.py
  docs/index.md
  src/boilercv/docs/__init__.py
Due: none

Don't copy test data to root, rather to docs
  docs/conf.py
Due: none

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*

