Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*


Minimize monkeypatching in tests. Decouple most paths
  .tools/requirements/requirements_both.txt
  pyproject.toml
  src/boilercv/__init__.py
  src/boilercv/data/sets.py
  src/boilercv/models/params.py
  src/boilercv/models/paths.py
  tests/__init__.py
  tests/conftest.py
  tests/test_boilercv.py
  tests/test_stages.py
Due: pre-repro, pytest-fast-only

Bump boilercore
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Reproduce notebooks
  data/docs.dvc
  src/boilercv/pre_repro.py
Due: pre-repro

Split out numexpr in Renovate
  renovate.json
Due: none

Implement pinned files
  .gitignore
  .tools/scripts/local_pyrightconfig.py
Due: none

Automate stages and clean up paths
  dvc.yaml
  params.yaml
  src/boilercv/__init__.py
  src/boilercv/data/sets.py
  src/boilercv/docs.py
  src/boilercv/examples/large/__init__.py
  src/boilercv/examples/large/convert.py
  src/boilercv/examples/previews/binarized_composite.py
  src/boilercv/examples/previews/gray_composite.py
  src/boilercv/examples/previews/multicolor_composite.py
  src/boilercv/examples/previews/triple_composite.py
  src/boilercv/manual/binarize.py
  src/boilercv/manual/convert.py
  src/boilercv/manual/rename.py
  src/boilercv/models/__init__.py
  src/boilercv/models/params.py
  src/boilercv/models/paths.py
  src/boilercv/old/_convert_2021_06.py
  src/boilercv/pre_repro.py
  src/boilercv/previews/__main__.py
  src/boilercv/previews/composite.py
  tests/tmp_path/data/generate.py
  tests/tmp_path/data/hierarchical_data/.gitkeep
Due: pre-repro, pytest-fast-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Implement encoding warnings
  .copier-answers.yml
  .env
  .tools/scripts/warning_filters.py
  params.yaml
  tests/conftest.py
  tests/test_boilercv.py
Due: pre-repro, pytest-fast-only

Add templating
  .copier-answers.yml
  .env
Due: none

Update from template
  .copier-answers.yml
  .env
  .tools/scripts/warning_filters.py
Due: none

Remvoe outdated ignores and repro
  .gitignore
  data/.gitignore
  dvc_repro.ps1
Due: none

Update project from template
  .copier-answers.yml
  .env
  .pre-commit-config.yaml
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/pythonstartup.py
  .tools/scripts/warning_filters.py
  .vscode/tasks.json
  update.ps1
Due: none

Remove monkeypatching from tests
  pytest.ini
  src/boilercv/__init__.py
  src/boilercv/models/__init__.py
  src/boilercv/models/params.py
  src/boilercv/models/paths.py
  tests/conftest.py
  tests/test_boilercv.py
Due: pre-repro, pytest-fast-only

Update template digest to 120b6fd
  .tools/scripts/Copy-Template.ps1
Due: none

Update project from template
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/publish.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/core_update.py
  pyproject.toml
  renovate.json
Due: pytest-fast-only

Move submodules
  .gitmodules
Due: none

Update pre-commit. Ignore type errors caused by stub inconsistencies with library types.
  .pre-commit-config.yaml
  src/boilercv/examples/cv/__init__.py
  src/boilercv/examples/detect_surface.py
  src/boilercv/examples/previews/multicolor_composite.py
  src/boilercv/images/cv.py
  src/boilercv/old/_contours_mp4.py
  src/boilercv/stages/fill.py
Due: none

Don't pin files
  .tools/scripts/local_pyrightconfig.py
Due: none

Update boilercore script
  .tools/scripts/Update-Boilercore.ps1
Due: none

Fix script
  .tools/scripts/Copy-Template.ps1
Due: none

Update project.
  .copier-answers.yml
  .gitattributes
Due: none

Remove numexpr special case
  renovate.json
Due: none

Update project.
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Decouple DVC from package dependencies
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_dev.txt
  pyproject.toml
Due: pytest-fast-only

Distinguish between example and experimental data. Choose better name for manual stage.
  .tools/requirements/requirements_dev.txt
  params.yaml
  src/boilercv/manual/flatten_data_dir.py
  src/boilercv/models/paths.py
Due: pre-repro, pytest-fast-only

Process cines named with Phantom CV's {timeS} scheme. Add progress bars with tqdm.
  .tools/requirements/requirements.txt
  pyproject.toml
  src/boilercv/manual/convert.py
Due: pytest-fast-only

Fix bug in specifying flood-fill seed point to OpenCV. Generate binarized images.
  src/boilercv/images/cv.py
  src/boilercv/manual/binarize.py
  src/boilercv/stages/preview/preview_binarized.py
Due: none

Find contours in 23-09-20 videos
  .dvc/config
  data/rois.dvc
  data/sources.dvc
  dvc.lock
Due: none

Process first subcool dataset
  data/docs.dvc
  fix_up_subcool_nbs.py
Due: pre-repro

Plot boiling curve
  data/docs.dvc
Due: pre-repro
