Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

pre-repro:
  name: pre-repro
  language: system
  entry: pwsh -Command python -m boilercv.pre_repro
  pass_filenames: false
  verbose: true

update-warning-filters:
  name: update-warning-filters
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command python warning_filters.py

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Try grouping without explicit exclusions
  renovate.json
Due: none

Try this
  renovate.json
Due: none

Update template copy script
  .tools/scripts/Copy-Template.ps1
Due: none

Bump
  .copier-answers.yml
  .env
  .github/workflows/codeql.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
  .tools/scripts/Copy-Template.ps1
  .vscode/settings.json
  .vscode/tasks.json
  pyproject.toml
  pytest.ini
  renovate.json
  update.ps1
Due: pytest-fast-only

Fix core update script
  .github/workflows/main.yml
  .tools/scripts/core_update.py
Due: none

Collect core update operations in one place
  .github/workflows/main.yml
  .tools/scripts/core_update.py
Due: none

Aggregate core update steps
  .tools/scripts/core_update.py
  pyproject.toml
Due: none

Bump
  .copier-answers.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/publish.yml
  .github/workflows/sphinx.yml
  .tools/scripts/Copy-Template.ps1
  .vscode/tasks.json
Due: none

Bump
  .copier-answers.yml
  .github/workflows/minimum.yml
  .tools/requirements/requirements.txt
  update.ps1
Due: pytest-fast-only

Bump
  .copier-answers.yml
Due: none

Don't bump template in core update
  .tools/scripts/core_update.py
Due: none

Bump
  .copier-answers.yml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/core_update.py
  .tools/scripts/pythonstartup.py
  .tools/scripts/warning_filters.py
  .vscode/tasks.json
  pyproject.toml
Due: pytest-fast-only

Explicitly ignore pydantic bump for now
  pyproject.toml
  renovate.json
Due: none

Install Pyside6 minimum dependencies
  .github/workflows/minimum.yml
Due: none

Bump template
  .copier-answers.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Add back boilercore
  .tools/requirements/requirements_dev.txt
Due: pytest-fast-only

Bump
  .copier-answers.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
Due: pytest-fast-only

Bump from template
  .copier-answers.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  pyrightconfig.json
Due: none

Introduce local variation in `pyrightconfig.json`
  .pre-commit-config.yaml
  .tools/scripts/local_pyrightconfig.py
  .vscode/tasks.json
Due: none

Reintroduce project override
  pyproject.toml
Due: none

Bump from template
  .copier-answers.yml
  pytest.ini
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update template digest to 707a959
  .tools/scripts/Copy-Template.ps1
  pyproject.toml
Due: none

Update template digest to 7c87453
  .copier-answers.yml
  .pre-commit-config.yaml
  .vscode/tasks.json
Due: none

Bump project from template
  .copier-answers.yml
Due: none

Switch to ruamel.yaml
  .tools/requirements/requirements.txt
  .vscode/tasks.json
  pyproject.toml
  src/boilercv/captivate/previews.py
  src/boilercv/models/params.py
Due: pre-repro, pytest-fast-only

Remove extra newline
  .gitignore
Due: none

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
  .tools/scripts/Update-Boilercore.ps1
  .vscode/tasks.json
Due: pytest-fast-only

Conform to ruamel api
  src/boilercv/captivate/previews.py
Due: none

Remove pyyaml requirement
  .tools/requirements/requirements.txt
Due: pytest-fast-only

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*

