Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: compose-pyproject, pytest, pytest-slow, pyright

.pre-commit-config.yaml:

ci:
  skip:
    - "compose-pyproject"
    - "pytest"
    - "pytest-slow"
    - "pyright"
    - "dvc-post-checkout"
    - "dvc-pre-push"
  autoupdate_schedule: "quarterly"

repos:
  # * ------------------------------------------------------------------------------ * #
  # * Changes below should persist in significant template updates.

  - repo: "https://github.com/iterative/dvc"
    rev: "2.57.1"
    hooks:
      - id: "dvc-post-checkout"
      - id: "dvc-pre-push"
        additional_dependencies: ["dvc[gs]"]

  # * ------------------------------------------------------------------------------ * #
  # * Changes below may be lost in significant template updates.

  - repo: "meta"
    hooks:
      - id: "check-hooks-apply"
      - id: "check-useless-excludes"
  - repo: "local"
    hooks:
      - id: "compose-pyproject"
        name: "compose-pyproject"
        language: "system"
        entry: "pwsh -Command python .tools/scripts/compose_pyproject.py"
        files: |
          (?x)^(
            pyproject.toml
            |requirements.txt
            |.tools/pyproject.toml
          )$
        pass_filenames: false
      - id: "pytest"
        name: "pytest"
        language: "system"
        entry: "pwsh -Command pytest --run_skips false"
        pass_filenames: false
        verbose: true
        files: |
          (?x)^(
            src/.*
            |tests/.*
          )$
      - id: "pytest-slow"
        name: "pytest-slow"
        language: "system"
        entry: "pwsh -Command pytest"
        pass_filenames: false
        verbose: true
        files: |
          (?x)^(
            pyproject.toml
            |requirements.txt
            |.tools/(
              pyproject.toml
              |requirements/.*
            )
          )$
      - id: "pyright"
        name: "pyright"
        language: "system"
        entry: "pwsh .tools/scripts/Invoke-Pyright.ps1"
        pass_filenames: false
        files: |
          (?x)^(
            src/.*
            |tests/.*
            |pyproject.toml
            |requirements.txt
            |.tools/(
              pyproject.toml
              |requirements/.*
            )
          )$
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.4.0"
    hooks:
      - id: "end-of-file-fixer"
      - id: "trailing-whitespace"
  - repo: "https://github.com/DavidAnson/markdownlint-cli2"
    rev: "v0.7.1"
    hooks:
      - id: "markdownlint-cli2-fix"
  - repo: "https://github.com/psf/black"
    rev: "23.3.0"
    hooks:
      - id: "black"
  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.0.263"
    hooks:
      - id: "ruff"
  - repo: "https://github.com/srstevenson/nb-clean"
    rev: "2.4.0"
    hooks:
      - id: "nb-clean"
        args:
          - "--remove-empty-cells"
          - "--preserve-cell-metadata"
          - "tags"
          - "slideshow"
          - "special"
          - "--"
  - repo: "https://github.com/asottile/blacken-docs"
    rev: "1.13.0"
    hooks:
      - id: "blacken-docs"
        additional_dependencies: ["black==23.3.0"]
  - repo: "https://github.com/nbQA-dev/nbQA"
    rev: "1.7.0"
    hooks:
      - id: "nbqa-black"
        additional_dependencies: ["black==23.3.0"]
      - id: "nbqa-ruff"
        additional_dependencies: ["ruff==0.0.263"]

Update pre_repro.py
  src/boilercv/pre_repro.py
Due: pytest, pyright

Clarify some things
  src/boilercv/pre_repro.py
Due: pytest, pyright

Colorize logging
  src/boilercv/pre_repro.py
Due: pytest, pyright

Hold lesson on concurrency
  data/docs.dvc
  src/boilercv/pre_repro2.py
  src/boilercv/pre_repro3.py
Due: pytest, pyright

Simplify logging
  src/boilercv/pre_repro.py
  src/boilercv/pre_repro2.py
  src/boilercv/pre_repro3.py
Due: pytest, pyright

Clarify the notebook process
  data/docs.dvc
  src/boilercv/pre_repro.py
Due: pytest, pyright

Simplify further
  src/boilercv/pre_repro.py
Due: pytest, pyright

Invert mapping so keys are unique
  src/boilercv/pre_repro.py
Due: pytest, pyright

Leave the injected parameters cell
  src/boilercv/pre_repro.py
Due: pytest, pyright

Align bubble departures better. Roughly derive thermal properties from data.
  data/docs.dvc
  src/boilercv/docs.py
Due: pytest, pyright

Pin numpy and numba separately
  pyproject.toml
  renovate.json
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Remove ipywidgets dependency
  pyproject.toml
  src/boilercv/old/_contours.ipynb
Due: compose-pyproject, pytest, pytest-slow, pyright

Fix group slug
  renovate.json
Due: none

Back propagate parameters to earlier analyses. Set axis limits and ticks/labels intelligently.
  data/docs.dvc
  src/boilercv/format.py
  src/boilercv/pre_repro.py
Due: pytest, pyright

Differentiate between correlations and bubbles with warm/cool palettes, respectively.
  .tools/requirements/requirements_both.txt
  data/docs.dvc
  pyproject.toml
  requirements.txt
  src/boilercv/format.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Filter out tables from DOCX
  data/docs.dvc
  params.yaml
  scripts/filt.py
  src/boilercv/models/paths.py
  src/boilercv/pre_repro.py
Due: pytest, pyright

Generalize citation
  CITATION.cff
Due: none

Require pandocfilters
  pyproject.toml
  requirements.txt
Due: compose-pyproject, pytest-slow, pyright

Run ruff before black
  data/docs.dvc
  src/boilercv/docs.py
  src/boilercv/format.py
  src/boilercv/pre_repro.py
Due: pytest, pyright

Document the justification of future study
  data/docs.dvc
Due: none

Pin to specific commit in branch
  .tools/requirements/requirements_both.txt
Due: pytest-slow, pyright

Decouple `pyproject.toml` and `requirements.txt`.
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/pyproject.toml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  .tools/scripts/Copy-Template.ps1
  .tools/scripts/Invoke-Pyright.ps1
  .tools/scripts/compose_pyproject.py
  .vscode/tasks.json
  params.yaml
  pyproject.toml
  src/boilercv/models/paths.py
  update.ps1
Due: compose-pyproject, pytest, pytest-slow, pyright

Update template digest to d0b0e62
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
Due: pytest-slow, pyright

Allow TODOs
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Bump copier
  .tools/requirements/requirements_both.txt
Due: pytest-slow, pyright

Update project from template
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
Due: pytest-slow, pyright

Unify requirements
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_nodeps.txt
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Apply upper bound
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Roll back pandas
  .tools/requirements/requirements.txt
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Fix ruff errors
  pyproject.toml
  tests/__init__.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Introduce fawltydeps
  .pre-commit-config.yaml
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_both.txt
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Don't always run fawltydeps
  .pre-commit-config.yaml
Due: none

Switch `nbqa black` to `black`
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_dev.txt
  .tools/scripts/warning_filters.py
  data/docs.dvc
  src/boilercv/pre_repro.py
Due: pytest, pytest-slow, pyright

Migrate common model handling to boilercore
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .vscode/tasks.json
  pyproject.toml
  src/boilercv/models/__init__.py
  src/boilercv/models/params.py
  src/boilercv/models/paths.py
Due: compose-pyproject, pytest, pytest-slow, pyright

Update pyproject.toml
  pyproject.toml
Due: compose-pyproject, pytest-slow, pyright

Exclude pandas from main dependency group
  renovate.json
Due: none

Implement dependency bumping
  .github/workflows/main.yml
  .gitmodules
  .tools/requirements/requirements_both.txt
  .tools/scripts/update_requirements.py
Due: pytest-slow, pyright

Update project from template.
  .tools/requirements/requirements_ci.txt
Due: pytest-slow, pyright

Remove boilercore from repos view
  .pre-commit-config.yaml
  .vscode/settings.json
Due: none
