Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

pre-repro:
  name: pre-repro
  language: system
  entry: pwsh -Command python -m boilercv.pre_repro
  pass_filenames: false
  verbose: true

update-warning-filters:
  name: update-warning-filters
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command python warning_filters.py

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Factor out common paths and process functionality
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_dev.txt
Due: pytest-fast-only

Migrate report generation to boilercore
  .tools/requirements/requirements.txt
  .tools/requirements/requirements_dev.txt
  .vscode/settings.json
  .vscode/tasks.json
  data/.gitignore
  data/scripts.dvc
  data/scripts/.gitignore
  data/scripts/filt.py
  data/scripts/international-journal-of-heat-and-mass-transfer.csl
  data/scripts/template.dotx
  data/scripts/zotero.lua
  dvc.lock
  dvc.yaml
  params.yaml
  pyproject.toml
  src/boilercv/models/paths.py
  src/boilercv/pre_repro.py
  src/boilercv/stages/generate_reports.py
Due: pre-repro, pytest-fast-only

Update settings
  .vscode/settings.json
Due: none

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Skip test that currently still depends on data not tested yet. Passes locally, fails CI.
  tests/boilercv_tests/__init__.py
Due: pytest-fast-only

Move docs to notebooks
  data/docs.dvc
  data/notebooks.dvc
  dvc.lock
  dvc.yaml
  params.yaml
  src/boilercv/models/paths.py
Due: pre-repro

Refactor module walking code
  data/notebooks.dvc
  dvc.lock
  params.yaml
  src/boilercv/models/paths.py
  src/boilercv/stages/experiments/__init__.py
  src/boilercv/stages/experiments/exp_2023_09_20_subcool.py
  src/boilercv/stages/find_collapse.ipynb
  tests/boilercv_tests/__init__.py
Due: pre-repro, pytest-fast-only

Fix pre-commit violation
  src/boilercv/stages/find_collapse.ipynb
Due: none

Update scripts
  data/scripts.dvc
Due: none

Update project from template
  .copier-answers.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .github/workflows/publish.yml
  .github/workflows/sphinx.yml
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .vscode/settings.json
Due: pytest-fast-only

Fix ruff format differences from black
  src/boilercv/examples/cv/__init__.py
  src/boilercv/format.py
  src/boilercv/types.py
Due: none

Update project from template
  .copier-answers.yml
Due: none

Fix ruff error
  .vscode/tasks.json
  src/boilercv/stages/find_collapse.ipynb
Due: none

Add experimental data
  data/experiments.dvc
Due: none

Migrate rest of subcooling experiment into experimental structure
  params.yaml
  src/boilercv/stages/experiments/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/__main__.py
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  src/boilercv/stages/experiments/e230920_subcool/get_thermal_data.ipynb
  src/boilercv/stages/experiments/exp_2023_09_20_subcool.py
Due: pre-repro

Tell ruff not to ignore notebooks in pre-commit
  .pre-commit-config.yaml
Due: none

Update project from template
  .copier-answers.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  pyproject.toml
Due: none

Update project from template
  .copier-answers.yml
  .vscode/settings.json
Due: none

Remove outdated settings
  .vscode/settings.json
Due: none

Update project from template
  .copier-answers.yml
  .tools/requirements/requirements_dev.txt
  .vscode/tasks.json
Due: pytest-fast-only

Format notebooks
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  src/boilercv/stages/experiments/e230920_subcool/get_thermal_data.ipynb
Due: none

Can't use `Invoke-Pyright` until native error actions become standard in pwsh 7.4.0
  .github/workflows/main.yml
Due: none

Don't do extraneous work
  .github/workflows/main.yml
Due: none

Don't use PowerShell since it's not passing errors through
  .github/workflows/main.yml
Due: none

Keep necessary type ignores up to pyright 1.1.333
  .tools/scripts/pythonstartup.py
  src/boilercv/captivate/captures.py
  src/boilercv/captivate/previews.py
  src/boilercv/data/frames.py
  src/boilercv/data/sets.py
  src/boilercv/docs.py
  src/boilercv/examples/blobs/galaxy.py
  src/boilercv/examples/contours.py
  src/boilercv/examples/cv/__init__.py
  src/boilercv/examples/detect_surface.py
  src/boilercv/examples/fill.py
  src/boilercv/examples/large/compress.py
  src/boilercv/examples/large/compress_packed.py
  src/boilercv/examples/previews/multicolor_composite.py
  src/boilercv/format.py
  src/boilercv/images/cv.py
  src/boilercv/old/_contours.py
  src/boilercv/old/_contours_mp4.py
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  src/boilercv/stages/fill.py
  src/boilercv/stages/generate_reports.py
  src/boilercv/types.py
Due: none

Get times from filenames
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/__main__.py
Due: none

Simplify call to get_times
  src/boilercv/stages/experiments/e230920_subcool/__main__.py
Due: none

Update project from template
  .copier-answers.yml
  .env
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/minimum.yml
  .gitignore
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  pyproject.toml
  pytest.ini
  setup.ps1
  update.ps1
Due: pytest-fast-only

Fix violations
  src/boilercv/examples/large/compare.py
  src/boilercv/format.py
Due: none

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*

