Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*


Update project from template
  .copier-answers.yml
Due: none

Suppress one type issue for now.
  src/boilercv/images/cv.py
Due: none

Update project from template
  .copier-answers.yml
  .coveragerc
  .vscode/settings.json
  .vscode/tasks.json
  pyproject.toml
Due: none

Allow private member access in tests
  pyproject.toml
Due: none

Add case structure
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Normalize cases
  tests/boilercv_tests/__init__.py
Due: pytest-fast-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Refactor case logic to common dataclass
  .vscode/settings.json
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Extract constant
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Update local Pyright config generation
  .tools/scripts/local_pyrightconfig.py
Due: none

Allow saving plots from notebook tests.
  .pre-commit-config.yaml
  pyproject.toml
  src/boilercv/docs.py
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Generate local dev configs
  .tools/scripts/local_dev_configs.py
  .tools/scripts/local_pyrightconfig.py
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Format with new Ruff rules
  fix_up_subcool_nbs.py
  src/boilercv/data/sets.py
  src/boilercv/examples/detect_surface.py
  src/boilercv/old/_contours.py
  src/boilercv/stages/experiments/e230920_subcool/get_thermal_data.ipynb
  src/boilercv/types.py
Due: none

Re-save notebooks
  docs/experiments/e230920_subcool/find_bubbles.ipynb
  docs/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_bubbles.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_contours.ipynb
  src/boilercv/stages/experiments/e230920_subcool/get_thermal_data.ipynb
Due: none

Begin alternative bubble track, missing bubble size
  params.yaml
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/track_bubbles.ipynb
Due: pre-repro

Decompress data, fix logic when in reprocessing mode
  dvc.lock
  src/boilercv/stages/fill.py
  src/boilercv/stages/preview/__init__.py
  src/boilercv/stages/preview/preview_filled.py
  src/boilercv/stages/preview/preview_gray.py
Due: none

Fix local pyright
  .tools/scripts/local_dev_configs.py
  pyproject.toml
Due: none

Fix type errors
  .tools/requirements/requirements_both.txt
  src/boilercv/images/__init__.py
  src/boilercv/types.py
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Bump pytest
  .tools/requirements/requirements_both.txt
Due: pytest-fast-only

Bump ruff
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  pyproject.toml
Due: pytest-fast-only

Fix ruff violations
  .tools/scripts/pythonstartup.py
  .vscode/tasks.json
  fix_up_subcool_nbs.py
  pyproject.toml
  src/boilercv/captivate/previews.py
  src/boilercv/data/sets.py
  src/boilercv/docs.py
  src/boilercv/examples/detect_surface.py
  src/boilercv/images/cv.py
  src/boilercv/old/_contours.py
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  src/boilercv/stages/experiments/e230920_subcool/get_thermal_data.ipynb
  src/boilercv/stages/experiments/e230920_subcool/track_bubbles.ipynb
  src/boilercv/types.py
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_boilercv.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Get object sizes assuming objects are approximately circular
  data/experiments.dvc
  dvc.lock
  params.yaml
  pyproject.toml
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/export_all_objects.py
  src/boilercv/stages/experiments/e230920_subcool/find_objects.ipynb
Due: pre-repro

Get object tracks
  data/experiments.dvc
  dvc.lock
  params.yaml
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/export_all_tracks.py
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_tracks.ipynb
Due: pre-repro

Compare approaches
  data/experiments.dvc
  dvc.lock
  src/boilercv/docs.py
  src/boilercv/stages/experiments/e230920_subcool/find_tracks.ipynb
Due: none

Fix fawltydeps
  .pre-commit-config.yaml
  .tools/requirements/requirements_dev.txt
  pyproject.toml
Due: pytest-fast-only

Fix test plots
  .pre-commit-config.yaml
  .tools/requirements/requirements_both.txt
  data/plotting/base.mplstyle
  src/boilercv/docs.py
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Fix lint errors, pre-commit config
  .pre-commit-config.yaml
  docs/experiments/e230920_subcool/find_bubbles.ipynb
  docs/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_bubbles.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_objects.ipynb
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Fix pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none
