Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*


Corrected small typo
  docs/experiments/e230920_subcool/find_centers.ipynb
Due: none

Reduce duplication of this admonition elsewhere, as well
  docs/experiments/e230920_subcool/find_objects.ipynb
Due: none

Pin `pluggy` to 1.3.0 to get the workflow working again for now (#166)
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Enable parallel coverage option (#167)
  pyproject.toml
Due: none

Set config as well (#167)
  pyproject.toml
Due: none

Actually name this properly
  .github/workflows/main.yml
  pyproject.toml
Due: none

Point to source of solution in the workflow
  .github/workflows/main.yml
Due: none

Try unpinning this, now that #167 is closed
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

De-duplicate pre-commit config
  .pre-commit-config.yaml
Due: none

Remove references to old scripts
  params.yaml
  src/boilercv/models/paths.py
  tests/root/data/scripts/filt.py
  tests/root/data/scripts/international-journal-of-heat-and-mass-transfer.csl
  tests/root/data/scripts/template.dotx
  tests/root/data/scripts/zotero.lua
Due: pre-repro, pytest-fast-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Try this
  .github/workflows/compile.yml
  .tools/requirements/build_system_requires.in
  .tools/requirements/core.in
  .tools/requirements/core.txt
  .tools/requirements/cv.in
  .tools/requirements/requirements_core.txt
  .tools/scripts/core.py
  .vscode/settings.json
Due: pytest-fast-only

Rename workflow
  .github/workflows/lock.yml
Due: none

Rename requirements_core
  .tools/requirements/requirements_core.txt
Due: pytest-fast-only

Try this
  .github/workflows/lock.yml
Due: none

Try this
  .github/workflows/lock.yml
  .tools/scripts/core.py
Due: none

Try this
  .github/workflows/lock.yml
  .tools/scripts/core.py
  .vscode/launch.json
Due: none

Add back old `core_update.py`
  .tools/scripts/core_update.py
Due: none

Try this
  .github/workflows/lock.yml
  .tools/requirements/.gitignore
  .tools/scripts/core.py
Due: pytest-fast-only

Try this
  .github/workflows/lock.yml
  .gitignore
  .tools/requirements/.gitignore
  .tools/scripts/core.py
Due: pytest-fast-only

Duplicate dependencies to `pyproject.toml` in preparation for that being the single source of truth
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Remove skip key
  .pre-commit-config.yaml
Due: none

Lock dependencies
  .github/workflows/lock.yml
  .pre-commit-config.yaml
  .tools/boilercv_tools.py
  .tools/lock.json
  .tools/pyproject.toml
  .tools/requirements/.gitignore
  .tools/requirements/core.in
  .tools/requirements/cv.in
  .tools/requirements/dev.in
  .tools/requirements/nodeps.in
  .tools/scripts/core.py
  .tools/sync.ps1
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/boilercv_docs.py
  docs/pyproject.toml
  pyproject.toml
  renovate.json
  src/boilercv/__init__.py
  tests/pyproject.toml
Due: pytest-fast-only

Pin lock as well. Run the script with `pwsh` explicitly
  .github/workflows/lock.yml
Due: none

Exclude fawltydeps check in CI
  .pre-commit-config.yaml
Due: none

Fix Get-Command call
  .tools/sync.ps1
Due: none

Install into system
  .github/workflows/lock.yml
  .tools/sync.ps1
Due: none

Echo pwsh version
  .tools/sync.ps1
Due: none

Try to be explicit in CI
  .tools/sync.ps1
Due: none

Go nuclear
  .github/workflows/lock.yml
  .tools/sync.ps1
Due: none
