Repository sourcery-ai-experiments/boilercv: changes, and which pre-commit hooks are due for each by the changed paths.
All: pre-repro, update-warning-filters, pytest-fast-only, fawltydeps

pre-repro:
  name: pre-repro
  language: system
  entry: pwsh -Command python -m boilercv.pre_repro
  pass_filenames: false
  verbose: true

update-warning-filters:
  name: update-warning-filters
  verbose: true
  pass_filenames: false
  language: system
  entry: pwsh -Command python warning_filters.py

pytest-fast-only:
  name: pytest-fast-only
  verbose: true
  pass_filenames: false
  language: system
  entry: 'pwsh -Command "pytest -m ''not slow'' --suppress-no-test-exit-code"
  
    '

fawltydeps:
  name: fawltydeps
  pass_filenames: false
  language: system
  entry: pwsh -Command fawltydeps

Fix pre-commit config
  .pre-commit-config.yaml
Due: none

Run pre-commit on all files
  src/boilercv/examples/large/unpack.py
  src/boilercv/old/_contours_mp4.py
  src/boilercv/stages/compare_theory.py
  src/boilercv/stages/find_tracks.py
  tests/boilercv_tests/__init__.py
Due: pytest-fast-only

Need strict type checking specified here, too
  .vscode/settings.json
Due: none

Update settings and notebook format task
  .vscode/settings.json
  .vscode/tasks.json
Due: none

Provide note about notebook newline issue
  .vscode/settings.json
Due: none

Formalize data process in the experiment. Commit all DVC changes.
  data/experiments.dvc
  data/notebooks.dvc
  dvc.lock
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/__main__.py
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  src/boilercv/stages/experiments/e230920_subcool/get_thermal_data.ipynb
Due: none

Implement notebook tests
  data/experiments.dvc
  pytest.ini
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/e230920_subcool_tests.py
  tests/boilercv_tests/test_boilercv.py
  tests/root/data/experiments/e230920_subcool/2023-09-20T17-14-18.h5
  tests/root/data/experiments/e230920_subcool/2023-09-20_all_thermal_data.csv
  tests/root/data/experiments/e230920_subcool/2023-09-20_thermal.h5
  tests/root/data/filled/2023-09-20T17-14-18.nc
  tests/root/data/rois/2023-09-20T17-14-18.nc
Due: pytest-fast-only

Update boilercore pinned commit
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Migrate functions out of notebook
  .vscode/settings.json
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  tests/boilercv_tests/test_boilercv.py
Due: pytest-fast-only

Reorder conditionals properly
  tests/boilercv_tests/__init__.py
Due: pytest-fast-only

Implement test cases for notebooks.
  pyproject.toml
  tests/boilercv_tests/cases/__init__.py
  tests/boilercv_tests/cases/e230920_subcool/__init__.py
  tests/boilercv_tests/cases/e230920_subcool/find_collapse.py
  tests/boilercv_tests/cases/e230920_subcool/get_thermal_data.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/e230920_subcool_tests.py
  tests/boilercv_tests/test_boilercv.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Prepare custom features experiment
  params.yaml
  src/boilercv/stages/experiments/e230920_subcool/custom_features.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_collapse.ipynb
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/cases/e230920_subcool/__init__.py
  tests/boilercv_tests/cases/e230920_subcool/custom_features.py
  tests/boilercv_tests/cases/e230920_subcool/find_collapse.py
  tests/boilercv_tests/cases/e230920_subcool/get_thermal_data.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pre-repro, pytest-fast-only

Resolve pyarrow security vulnerability. Explicitly import display
  .tools/requirements/requirements.txt
  pyproject.toml
  src/boilercv/stages/experiments/e230920_subcool/custom_features.ipynb
Due: pytest-fast-only

Test custom features
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  src/boilercv/stages/experiments/e230920_subcool/custom_features.ipynb
  tests/boilercv_tests/cases/e230920_subcool/__init__.py
  tests/boilercv_tests/cases/e230920_subcool/custom_features.py
  tests/boilercv_tests/cases/e230920_subcool/find_collapse.py
  tests/boilercv_tests/cases/e230920_subcool/get_thermal_data.py
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Rename function
  tests/boilercv_tests/cases/e230920_subcool/__init__.py
Due: pytest-fast-only

Specify cases with built-in test parametrization
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/cases/__init__.py
  tests/boilercv_tests/cases/e230920_subcool/__init__.py
  tests/boilercv_tests/cases/e230920_subcool/custom_features.py
  tests/boilercv_tests/cases/e230920_subcool/find_collapse.py
  tests/boilercv_tests/cases/e230920_subcool/get_thermal_data.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Make local parametrization easier
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Add pytest-harvest
  .gitignore
  .tools/requirements/requirements_both.txt
  pytest.ini
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Export contours
  params.yaml
  src/boilercv/stages/experiments/e230920_subcool/export_contours.ipynb
  src/boilercv/stages/experiments/e230920_subcool/export_contours.py
Due: pre-repro

Arrange for exporting contours and centers
  .tools/requirements/requirements.txt
  .vscode/settings.json
  .vscode/tasks.json
  params.yaml
  pyproject.toml
  src/boilercv/captivate/previews.py
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/custom_features.ipynb
  src/boilercv/stages/experiments/e230920_subcool/export_all_centers.py
  src/boilercv/stages/experiments/e230920_subcool/export_all_contours.py
  src/boilercv/stages/experiments/e230920_subcool/export_contours.py
  src/boilercv/stages/experiments/e230920_subcool/find_centers.ipynb
  src/boilercv/stages/experiments/e230920_subcool/find_contours.ipynb
  tests/root/data/contours/2023-09-20T17-14-18.h5
Due: pre-repro, pytest-fast-only

Update boilercore pinned commit
  .gitignore
  .tools/requirements/requirements_ci.txt
Due: pytest-fast-only

Don't check order
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Update export scripts
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  src/boilercv/stages/experiments/e230920_subcool/__main__.py
Due: none

Update
  data/experiments.dvc
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
Due: none

Normalize requirements files spacing
  .tools/requirements/requirements_both.txt
  .tools/requirements/requirements_ci.txt
  .tools/requirements/requirements_core.txt
  .tools/requirements/requirements_dev.txt
  .tools/requirements/requirements_docs.txt
  .tools/requirements/requirements_nodeps.txt
Due: pytest-fast-only

Don't assign a module-level iterator, make it a list instead
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
Due: none

Separate concerns of caching, hashing, and finding the minimal necessary namespace.
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Update boilercore module imports
  src/boilercv/stages/experiments/e230920_subcool/__init__.py
  tests/boilercv_tests/__init__.py
  tests/boilercv_tests/conftest.py
  tests/boilercv_tests/test_e230920_subcool.py
Due: pytest-fast-only

Try to fix pytest-harvest/pytest-xdist incompatibility
  .tools/requirements/requirements_ci.txt
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Tweaks
  .vscode/launch.json
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Stubs for pandas sometimes lag, isolate from core.
  renovate.json
Due: none

Isolate imageio and pillow
  renovate.json
Due: none

Fix xdist-harvest rmtree issue
  tests/boilercv_tests/conftest.py
Due: pytest-fast-only

Path conditions:
  pre-repro: any of: (?x)^(
  src/boilercv/models/.*
  |params.yaml
  |data/docs.dvc
)$

  update-warning-filters: any of: (?x)^(
  warning_filters.py
)$

  pytest-fast-only: any of: (?x)^(
  pyproject.toml

  # exclude these if running pytest-slow-only again below
  src/.*
  |tests/.*

  |.tools/(
    pyproject.toml
    |requirements/.*
  )
)$

  fawltydeps: any of: .*

